<div class="container">
  <div class="toolbar">
    <a [routerLink]="['/atm']">Add New ATM</a>
    <input
      type="text"
      placeholder="Type to search"
      [(ngModel)]="searchTerm"
      (ngModelChange)="onSearchTermChange($event)"
    />
  </div>
  <div class="header">
    <p>Name</p>
    <p>Manufacturer</p>
    <p>Type</p>
    <p>Serial Number</p>
    <p>Image</p>
    <p>Actions</p>
  </div>
  <ng-container *ngIf="loadedData; else loading">
    <ng-container *ngIf="filteredAtms?.length; else noResult">
      <div class="body">
        <div
          *ngFor="
            let atm of filteredAtms
              | paginate : { itemsPerPage: 10, currentPage: currentPage }
          "
          class="row"
        >
          <p>{{ atm.name }}</p>
          <p>{{ atm.manufacturer }}</p>
          <p>{{ atm.type }}</p>
          <p>{{ atm.serial_number }}</p>
          <img src="{{ atm.image }}" alt="Image" loading="lazy" />
          <div class="actions">
            <a [routerLink]="['/atm', atm?.id]"><button>Edit</button></a>
            <button (click)="showConfirmationDelete(atm)">Delete</button>
          </div>
        </div>
      </div>
      <div class="pagination">
        <pagination-controls
          (pageChange)="currentPage = $event"
          previousLabel="Previous"
          nextLabel="Next"
        ></pagination-controls>
        <button (click)="exportToExcel()">Export Data</button>
      </div>
    </ng-container>
  </ng-container>

  <div class="modal" *ngIf="showConfirmationDeleteMessage">
    <div class="modal-content">
      <p>
        Are you sure you want to delete
        <strong>{{ atmToDelete?.name }}</strong> ATM?
      </p>
      <div class="buttons">
        <button (click)="deleteAtm()">Yes</button>
        <button (click)="hideConfirmationDelete()">No</button>
      </div>
    </div>
  </div>

  <ng-template #loading>
    <div class="loading-container">
      <div class="loading">Loading...</div>
    </div>
  </ng-template>

  <ng-template #noResult>
    <div class="loading-container">
      <div class="loading">No result found</div>
    </div>
  </ng-template>
</div>
