<div class="container">
  <div class="toolbar">
    <a [routerLink]="['/atm']">{{ "home.addATM" | translate }}</a>
    <input
      type="text"
      placeholder="Type to search"
      [(ngModel)]="searchTerm"
      (ngModelChange)="onSearchTermChange($event)"
    />
    <div>
      <span>{{ "home.language" | translate }}</span>
      <select
        [(ngModel)]="selectedLanguage"
        (ngModelChange)="onLanguageChange($event)"
      >
        <option
          *ngFor="let language of languageOptions"
          [value]="language.code"
        >
          {{ language.name }}
        </option>
      </select>
    </div>
  </div>
  <div class="header">
    <p>{{ "home.name" | translate }}</p>
    <p>{{ "home.manufacturer" | translate }}</p>
    <p>{{ "home.type" | translate }}</p>
    <p>{{ "home.serialNumber" | translate }}</p>
    <p>{{ "home.image" | translate }}</p>
    <p>{{ "home.actions" | translate }}</p>
  </div>
  <ng-container *ngIf="loadedData; else loading">
    <ng-container *ngIf="filteredAtms?.length; else noResult">
      <div class="body">
        <div
          *ngFor="
            let atm of filteredAtms
              | paginate : { itemsPerPage: 10, currentPage: currentPage }
          "
          class="row"
        >
          <p>{{ atm.name }}</p>
          <p>{{ atm.manufacturer }}</p>
          <p>{{ atm.type }}</p>
          <p>{{ atm.serial_number }}</p>
          <img src="{{ atm.image }}" alt="Image" loading="lazy" />
          <div class="actions">
            <a [routerLink]="['/atm', atm?.id]"
              ><button>{{ "home.edit" | translate }}</button></a
            >
            <button (click)="showConfirmationDelete(atm)">
              {{ "home.delete" | translate }}
            </button>
          </div>
        </div>
      </div>
      <div class="pagination">
        <pagination-controls
          (pageChange)="currentPage = $event"
          previousLabel="Previous"
          nextLabel="Next"
        ></pagination-controls>
        <button (click)="exportToExcel()">
          {{ "home.exportData" | translate }}
        </button>
      </div>
    </ng-container>
  </ng-container>

  <div class="modal" *ngIf="showConfirmationDeleteMessage">
    <div class="modal-content">
      <p>
        {{ "home.deleteConfirmation" | translate }}
        <strong>{{ atmToDelete?.name }}</strong> ATM?
      </p>
      <div class="buttons">
        <button (click)="deleteAtm()">{{ "home.yes" | translate }}</button>
        <button (click)="hideConfirmationDelete()">
          {{ "home.no" | translate }}
        </button>
      </div>
    </div>
  </div>

  <ng-template #loading>
    <div class="loading-container">
      <div class="loading">{{ "home.loading" | translate }}</div>
    </div>
  </ng-template>

  <ng-template #noResult>
    <div class="loading-container">
      <div class="loading">{{ "home.noData" | translate }}</div>
    </div>
  </ng-template>
</div>
