<form *ngIf="loadedData; else loading" [formGroup]="atmForm" class="form">
  <label for="name">Name</label>
  <input type="text" formControlName="name" placeholder="Input Name" />
  <label for="manufactuner">Manufacturer</label>
  <input
    type="text"
    formControlName="manufactuner"
    placeholder="Input Manufacturer"
  />
  <label for="type">Type</label>
  <input type="text" formControlName="type" placeholder="Input Type" />
  <label for="serial_number">Serial Number</label>
  <input
    type="text"
    formControlName="serial_number"
    placeholder="Input Serial Number"
  />
  <div class="buttons">
    <button [disabled]="atmForm.invalid" (click)="addOrEditAtm()">Save</button>
    <button (click)="cancel()">Cancel</button>
  </div>
  <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
  <p *ngIf="successMessage" class="success">{{ successMessage }}</p>
</form>

<ng-template #loading>
  <div class="loading-container">
    <div class="loading">Loading...</div>
  </div>
</ng-template>
