<form *ngIf="loadedData; else loading" [formGroup]="atmForm" class="form">
  <div *ngIf="atm?.image" class="image-placeholder">
    <img src="{{ atm?.image }}" alt="Image" loading="lazy" />
  </div>
  <label for="name">Name</label>
  <input type="text" formControlName="name" placeholder="Input Name" />
  <label for="manufactuner">Manufacturer</label>
  <input
    type="text"
    formControlName="manufacturer"
    placeholder="Input Manufacturer"
  />
  <label for="type">Type</label>
  <input type="text" formControlName="type" placeholder="Input Type" />
  <label for="serial_number">Serial Number</label>
  <input
    type="text"
    formControlName="serial_number"
    placeholder="Input Serial Number"
  />
  <div class="message">
    <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
    <p *ngIf="successMessage" class="success">{{ successMessage }}</p>
    <p *ngIf="savingMessage" class="success">{{ savingMessage }}</p>
    <p *ngIf="isSavingData" class="success">Saving ...</p>
  </div>
  <div class="buttons">
    <button
      [disabled]="atmForm.invalid || savingMessage || !isDataChanged()"
      (click)="addOrEditAtm()"
    >
      Save
    </button>
    <button (click)="cancel()">Cancel</button>
  </div>
</form>

<ng-template #loading>
  <div class="loading-container">
    <div class="loading">Loading...</div>
  </div>
</ng-template>
