<form *ngIf="loadedData; else loading" [formGroup]="atmForm" class="form">
  <div *ngIf="atm?.image" class="image-placeholder">
    <img src="{{ atm?.image }}" alt="Image" loading="lazy" />
  </div>
  <label for="name">{{ "home.name" | translate }}</label>
  <input type="text" formControlName="name" placeholder="Input Name" />
  <label for="manufacturer">{{ "home.manufacturer" | translate }}</label>
  <input
    type="text"
    formControlName="manufacturer"
    placeholder="Input Manufacturer"
  />
  <label for="type">{{ "home.type" | translate }}</label>
  <input type="text" formControlName="type" placeholder="Input Type" />
  <label for="serial_number">{{ "home.serialNumber" | translate }}</label>
  <input
    type="text"
    formControlName="serial_number"
    placeholder="Input Serial Number"
  />
  <div class="message">
    <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
    <p *ngIf="successMessage" class="success">{{ successMessage }}</p>
    <p *ngIf="savingMessage" class="success">{{ savingMessage }}</p>
    <p *ngIf="isSavingData" class="success">Saving ...</p>
  </div>
  <div class="buttons">
    <button
      [disabled]="atmForm.invalid || savingMessage || !isDataChanged()"
      (click)="addOrEditAtm()"
    >
      {{ "home.save" | translate }}
    </button>
    <button (click)="cancel()">{{ "home.cancel" | translate }}</button>
  </div>
</form>

<ng-template #loading>
  <div class="loading-container">
    <div class="loading">{{ "home.loading" | translate }}</div>
  </div>
</ng-template>
